 <style>
    .ng-cloak, .x-ng-cloak, .ng-hide, transclude { display: none !important; }
    .modal {
      display: none;
    }
    body {
        font-family: arial, helvetica, clean, sans-serif;
        font-size: 14px;
        line-height: 1.3;
        color: #5b5b5b;
        background-color: #f1f1f1;
        margin:0;
    }
    a {
        color: #bb4924;
        text-decoration: none;
    }
    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
      display: block;
    }
    .fs-48{
      font-size:48px;
    }
    .fs-42{
      font-size:42px;
    }
    .fs-54{
      font-size:54px;
    }
    .bg-trans{
      background:rgba(255,255,255,0.75);
    }
    .bg-primary {
      color: #fff;
      background-color: #252525;
    }
    .fs-20{
      font-size: 20px;
    }
    .fs-14{
      font-size: 14px;
    }
    .fs-15{
      font-size: 15px;
    }
    .icon-42{
      font-size:42px;margin-bottom:40px;
    }
    .icon-92{
      font-size:92px;
    }
    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/glyphicons-halflings-regular.eot');
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    }
    @font-face {
      font-family: 'icomanta';
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/icomanta.eot?v=6');
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/icomanta.eot?v=6#iefix') format('embedded-opentype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/icomanta.woff?v=6') format('woff'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/icomanta.ttf?v=6') format('truetype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/icomanta.svg?v=6#icomanta') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-weight: 400;
      font-style: normal;
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.eot');
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'), local('Source Sans Pro'), local('Source-Sans-Pro-regular'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.woff2') format('woff2'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.woff') format('woff'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.ttf') format('truetype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-regular.svg') format('svg');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-weight: 700;
      font-style: normal;
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.eot');
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.eot?#iefix') format('embedded-opentype'), local('Source Sans Pro'), local('Source-Sans-Pro-700'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.woff2') format('woff2'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.woff') format('woff'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.ttf') format('truetype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-700.svg') format('svg');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-weight: 300;
      font-style: normal;
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.eot');
      src: url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.eot?#iefix') format('embedded-opentype'), local('Source Sans Pro'), local('Source-Sans-Pro-300'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.woff2') format('woff2'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.woff') format('woff'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.ttf') format('truetype'), url('//cc3.manta-r3.com/assets/38a38ed/fonts/Source-Sans-Pro-300.svg') format('svg');
    }
    @font-face{
      font-family:'FontAwesome';
      src:url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.eot?v=4.6.3');
      src:url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
      url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
      url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
      url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
      url('//cc3.manta-r3.com/assets/38a38ed/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
      font-weight:normal;
      font-style:normal;
    }
    .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .icomanta {
      display: inline-block;
    }
    [class*="icomanta"] {
      font-family: 'icomanta' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-stats:before {
      content: "\e185";
    }
    .glyphicon-check:before {
        content: "\e067";
    }
    .icon-facebook:before {
      content: "\e620";
    }
    .icon-google-plus:before {
      content: "\e625";
    }
    .icon-search:before {
      content: "\e640";
    }
    .fa-pie-chart:before{
      content:"\f200";
    }
    .icon-manta-logo:before {
      content: "\e62f";
    }
    .glyphicon-plus:before {
      content: "\2b";
    }
    .glyphicon-search:before {
        content: "\e003";
    }
    .icon-globe:before {
      content: "\e623";
    }
    .icon-location:before {
        content: "\e62d";
    }
    .icon-arrow-down:before {
      content: "\e602";
    }
    .icon-search-alt:before {
      content: "\e659";
    }
    .icon-webinar:before {
      content: "\e65a";
    }
    .icon-products-alt:before {
      content: "\e657";
    }
    .icon-id:before {
        content: "\e628";
    }
    #product-arrow, #resource-arrow{
      position:absolute;width:100%;border-bottom:1px solid #e0e0e0; z-index: 1000;
    }
    .twenty15-header .navbar-brand .icon-manta-logo {
      font-size: 90px;
      line-height: inherit;
    }
    .twenty15-header .navbar-brand {
      overflow: hidden;
      min-width: 150px;
    }
    .twenty15-header .navbar > .container .navbar-brand, .twenty15-header .navbar > .container-fluid .navbar-brand {
      margin-left: -15px;
    }
    .twenty15-header .navbar .nav.navbar-nav > li > a.big-nav-icon-xs {
      font-size: 18px;
      padding-top: 19px;
      padding-bottom: 13px;
      border-left: 1px solid #141414;
      border-color: rgba(20, 20, 20, 0.3);
      width: 40px;
    }

    body.extreme .navbar-default.navbar-fixed-bottom {
      background-color: rgba(37, 37, 37, 0.8);
    }
    body.extreme #company-jump-nav ul.navbar-nav {
      width: 100% !important;
      float: none !important;
    }
    .navbar-default .navbar-nav > li > a {
      color: #e0e0e0;
    }
    a.navbar-brand{
      color: #e0e0e0 !important;
    }
    .navbar-nav {
      margin: 0;
    }
    .sr-only{
      display:none;
    }
    .dropdown-menu{
      display:none;
    }
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .text-justify {
      text-align: justify;
    }
    .text-muted {
      color: #909090;
    }
    .text-primary {
      color: #252525;
    }
    a.text-primary:hover {
      color: #0c0c0c;
    }
    .text-success {
      color: #7ca950;
    }
    a.text-success:hover {
      color: #638640;
    }
    .text-info {
      color: #516d85;
    }
    a.text-info:hover {
      color: #3e5365;
    }
    .text-warning {
      color: #dab132;
    }
    a.text-warning:hover {
      color: #b89321;
    }
    .text-danger {
      color: #a95056;
    }
    a.text-danger:hover {
      color: #864044;
    }
    .text-white, .text-white:hover, .text-white:active {
      color: #ffffff;
    }
    .text-gray-dark,
    .text-gray-dark:hover,
    .text-gray-dark:active {
      color: #5b5b5b;
    }
    .text-gray-light,
    .text-gray-light:hover,
    .text-gray-light:active {
      color: #e0e0e0;
    }
    .text-gray-lighter,
    .text-gray-lighter:hover,
    .text-gray-lighter:active {
      color: #f1f1f1;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 4.5px;
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
      font-family: "Source Sans Pro", arial, helvetica, clean, sans-serif;
      font-kerning: normal;
    }
    h1, .h1 {
        font-size: 36px;
    }
    h2, .h2 {
      font-size: 30px;
    }
    h3, .h3 {
      font-size: 24px;
    }
    h4, .h4 {
      font-size: 18px;
    }
    h5, .h5 {
        font-size: 14px;
    }
    .text-muted {
      color: #909090;
    }
    .text-primary {
      color: #252525;
    }
    a.text-primary:hover {
      color: #0c0c0c;
    }
    .btn-block {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .btn-sm, .btn-group-sm > .btn {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
    .btn-info {
      color: #ffffff;
      background-color: #516d85;
      border-color: #476075;
    }
    .btn-success {
      color: #ffffff;
      background-color: #7ca950;
      border-color: #6f9848;
    }
    .btn-success:hover {
      color: #ffffff;
      background-color: #688d43;
      border-color: #516e34;
    }
    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 1.3;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .btn-lg,
    .btn-group-lg > .btn {
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.2;
      border-radius: 3px;
    }
    .twenty15-header .navbar-default {
        border-bottom: 0;
    }

    .navbar-default {
        background-color: #252525;
        border-color: #141414;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .twenty15-header .nav > li {
        float: left;
    }
    .nav > li {
        position: relative;
        display: block;
    }
    .nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    .navbar-brand {
        float: left;
        padding: 18px 15px;
        font-size: 16px;
        line-height: 18px;
        height: 54px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    @media (min-width: 768px){
      .navbar-nav > li > a {
          padding-top: 18px;
          padding-bottom: 18px;
          line-height:18px;
      }
      .navbar-right {
          float: right !important;
      }
      .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
      }
      .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
      }
      .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
      }
      .navbar {
          border-radius: 0;
      }
      .navbar {
          position: relative;
          min-height: 54px;
          margin-bottom: 0;
          border: 1px solid transparent;
      }
      .navbar-left {
          float: left !important;
      }
    }
    @media (max-width: 991px)
    {
      .padded-mobile {
        padding: 0 20px;
      }
      .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: 500;
    }
    .light,
    h1.light,h2.light,h3.light,h4.light,h5.light,h6.light,
    .h1.light,.h2.light,.h3.light,.h4.light,.h5.light,.h6.light {
      font-weight: lighter;
    }
    .strong,
    h1.strong,h2.strong,h3.strong,h4.strong,h5.strong,h6.strong,
    .h1.strong,.h2.strong,.h3.strong,.h4.strong,.h5.strong,.h6.strong {
      font-weight: bold;
    }
    .navbar.subnav {
      z-index: 990;
      min-height: 25px;
      font-size: 12px;
    }
    .navbar.subnav .navbar-nav {
      margin: 0;
    }
    .navbar.subnav .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    body.extreme #company-jump-nav .navbar-nav > li {
        float: none !important;
        display: inline-block;
        font-size: 16px;
        line-height: 28px;
    }
    @media(max-width:767px){
      body.extreme h2, body.extreme .h2 {
        font-size: 24px;
      }
      .academy-credit, .academy-hiring{
        height: 200px;
      }
      .twenty15-header .nav > li {
        float: left;
      }
      .nav > li {
        position: relative;
        display: block;
      }
      .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
      }
      .twenty15-header .navbar .nav.navbar-nav > li > a.big-nav-icon-xs {
        top: -8px;
      }
      .twenty15-header .navbar .nav.navbar-nav > li > a.big-nav-icon-xs .glyphicon-plus{
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        border-left: 1px solid #141414;
        border-color: rgba(20, 20, 20, 0.3);
        width: 40px;
      }
      body.extreme .navbar-header.ellipsis-nav li > a {
        font-size: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
      .nav {
        list-style: none;
      }
      .twenty15-header .navbar-right {
        float: right;
      }
      body {
        font-family: arial, helvetica, clean, sans-serif;
        font-size: 14px;
        line-height: 1.3;
        color: #5b5b5b;
      }
      body {
        margin: 0;
      }
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      user agent stylesheet
      body {
        display: block;
      }
      html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .twenty15-header .navbar-default {
        border-bottom: 0;
      }
      .navbar-default {
        background-color: #252525;
        border-color: #141414;
      }
      .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
      }
      .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
      }
      .navbar {
        position: relative;
        min-height: 54px;
        margin-bottom: 0;
        border: 1px solid transparent;
      }

        .twenty15-header .navbar > .container .navbar-brand, .twenty15-header .navbar > .container-fluid .navbar-brand {
          margin-left: -15px;
        }
        .navbar-default .navbar-brand {
          color: #e0e0e0;
        }
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
          color: #c7c7c7;
          background-color: transparent;
        }
        .twenty15-header .navbar-brand {
          overflow: hidden;
          min-width: 150px;
        }
        .navbar-brand:hover, .navbar-brand:focus {
          text-decoration: none;
        }
        a:hover {
          cursor: pointer;
        }
        a:active, a:hover {
          outline: 0;
        }
        .navbar-brand {
          float: left;
          padding: 18px 15px;
          font-size: 16px;
          line-height: 18px;
          height: 54px;
        }
        a {
          background: transparent;
        }
        .twenty15-header header .navbar-nav.navbar-right:last-child {
          margin-right: -15px;
        }
        .twenty15-header .navbar-right {
          float: right;
        }
        .navbar-nav {
          margin: 0;
        }
        .navbar-nav {
          margin: 9px -15px;
        }
        .nav {
          margin-bottom: 0;
          padding-left: 0;
          list-style: none;
        }
        ul, ol {
          margin-top: 0;
          margin-bottom: 9px;
        }

        * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .input-sm {
          height: 30px;
          padding: 5px 10px;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 3px;
        }
        .academy-facebook{
          height: 200px;
        }
      }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width:768px) {
      .col-sm-5,
      .col-sm-7 {
        float: left;
      }

      .col-sm-7 {
        width: 58.33333333%;
      }

      .col-sm-5 {
        width: 41.66666667%;
      }
      .container {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .container {
        width: 996px;
      }
    }
    @media (min-width: 1200px) {
      .container {
        width: 996px;
      }
    }
    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      float: left;
    }
    .col-xs-12 {
      width: 100%;
    }
    .col-xs-11 {
      width: 91.66666667%;
    }
    .col-xs-10 {
      width: 83.33333333%;
    }
    .col-xs-9 {
      width: 75%;
    }
    .col-xs-8 {
      width: 66.66666667%;
    }
    .col-xs-7 {
      width: 58.33333333%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-5 {
      width: 41.66666667%;
    }
    .col-xs-4 {
      width: 33.33333333%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-2 {
      width: 16.66666667%;
    }
    .col-xs-1 {
      width: 8.33333333%;
    }
    .col-xs-pull-12 {
      right: 100%;
    }
    .col-xs-pull-11 {
      right: 91.66666667%;
    }
    .col-xs-pull-10 {
      right: 83.33333333%;
    }
    .col-xs-pull-9 {
      right: 75%;
    }
    .col-xs-pull-8 {
      right: 66.66666667%;
    }
    .col-xs-pull-7 {
      right: 58.33333333%;
    }
    .col-xs-pull-6 {
      right: 50%;
    }
    .col-xs-pull-5 {
      right: 41.66666667%;
    }
    .col-xs-pull-4 {
      right: 33.33333333%;
    }
    .col-xs-pull-3 {
      right: 25%;
    }
    .col-xs-pull-2 {
      right: 16.66666667%;
    }
    .col-xs-pull-1 {
      right: 8.33333333%;
    }
    .col-xs-pull-0 {
      right: 0%;
    }
    .col-xs-push-12 {
      left: 100%;
    }
    .col-xs-push-11 {
      left: 91.66666667%;
    }
    .col-xs-push-10 {
      left: 83.33333333%;
    }
    .col-xs-push-9 {
      left: 75%;
    }
    .col-xs-push-8 {
      left: 66.66666667%;
    }
    .col-xs-push-7 {
      left: 58.33333333%;
    }
    .col-xs-push-6 {
      left: 50%;
    }
    .col-xs-push-5 {
      left: 41.66666667%;
    }
    .col-xs-push-4 {
      left: 33.33333333%;
    }
    .col-xs-push-3 {
      left: 25%;
    }
    .col-xs-push-2 {
      left: 16.66666667%;
    }
    .col-xs-push-1 {
      left: 8.33333333%;
    }
    .col-xs-push-0 {
      left: 0%;
    }
    .col-xs-offset-12 {
      margin-left: 100%;
    }
    .col-xs-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-xs-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-xs-offset-9 {
      margin-left: 75%;
    }
    .col-xs-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-xs-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-xs-offset-6 {
      margin-left: 50%;
    }
    .col-xs-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-xs-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-xs-offset-3 {
      margin-left: 25%;
    }
    .col-xs-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-xs-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-xs-offset-0 {
      margin-left: 0%;
    }
    @media (min-width: 768px) {
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
      }
      .col-sm-12 {
        width: 100%;
      }
      .col-sm-11 {
        width: 91.66666667%;
      }
      .col-sm-10 {
        width: 83.33333333%;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-8 {
        width: 66.66666667%;
      }
      .col-sm-7 {
        width: 58.33333333%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-5 {
        width: 41.66666667%;
      }
      .col-sm-4 {
        width: 33.33333333%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-2 {
        width: 16.66666667%;
      }
      .col-sm-1 {
        width: 8.33333333%;
      }
      .col-sm-pull-12 {
        right: 100%;
      }
      .col-sm-pull-11 {
        right: 91.66666667%;
      }
      .col-sm-pull-10 {
        right: 83.33333333%;
      }
      .col-sm-pull-9 {
        right: 75%;
      }
      .col-sm-pull-8 {
        right: 66.66666667%;
      }
      .col-sm-pull-7 {
        right: 58.33333333%;
      }
      .col-sm-pull-6 {
        right: 50%;
      }
      .col-sm-pull-5 {
        right: 41.66666667%;
      }
      .col-sm-pull-4 {
        right: 33.33333333%;
      }
      .col-sm-pull-3 {
        right: 25%;
      }
      .col-sm-pull-2 {
        right: 16.66666667%;
      }
      .col-sm-pull-1 {
        right: 8.33333333%;
      }
      .col-sm-pull-0 {
        right: 0%;
      }
      .col-sm-push-12 {
        left: 100%;
      }
      .col-sm-push-11 {
        left: 91.66666667%;
      }
      .col-sm-push-10 {
        left: 83.33333333%;
      }
      .col-sm-push-9 {
        left: 75%;
      }
      .col-sm-push-8 {
        left: 66.66666667%;
      }
      .col-sm-push-7 {
        left: 58.33333333%;
      }
      .col-sm-push-6 {
        left: 50%;
      }
      .col-sm-push-5 {
        left: 41.66666667%;
      }
      .col-sm-push-4 {
        left: 33.33333333%;
      }
      .col-sm-push-3 {
        left: 25%;
      }
      .col-sm-push-2 {
        left: 16.66666667%;
      }
      .col-sm-push-1 {
        left: 8.33333333%;
      }
      .col-sm-push-0 {
        left: 0%;
      }
      .col-sm-offset-12 {
        margin-left: 100%;
      }
      .col-sm-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-sm-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-sm-offset-9 {
        margin-left: 75%;
      }
      .col-sm-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-sm-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-sm-offset-6 {
        margin-left: 50%;
      }
      .col-sm-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-sm-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-sm-offset-3 {
        margin-left: 25%;
      }
      .col-sm-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-sm-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-sm-offset-0 {
        margin-left: 0%;
      }
    }
    @media (min-width: 992px) {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
      }
      .col-md-12 {
        width: 100%;
      }
      .col-md-11 {
        width: 91.66666667%;
      }
      .col-md-10 {
        width: 83.33333333%;
      }
      .col-md-9 {
        width: 75%;
      }
      .col-md-8 {
        width: 66.66666667%;
      }
      .col-md-7 {
        width: 58.33333333%;
      }
      .col-md-7 {
        width: 58.33333333%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-5 {
        width: 41.66666667%;
      }
      .col-md-4 {
        width: 33.33333333%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-2 {
        width: 16.66666667%;
      }
      .col-md-1 {
        width: 8.33333333%;
      }
      .col-md-pull-12 {
        right: 100%;
      }
      .col-md-pull-11 {
        right: 91.66666667%;
      }
      .col-md-pull-10 {
        right: 83.33333333%;
      }
      .col-md-pull-9 {
        right: 75%;
      }
      .col-md-pull-8 {
        right: 66.66666667%;
      }
      .col-md-pull-7 {
        right: 58.33333333%;
      }
      .col-md-pull-6 {
        right: 50%;
      }
      .col-md-pull-5 {
        right: 41.66666667%;
      }
      .col-md-pull-4 {
        right: 33.33333333%;
      }
      .col-md-pull-3 {
        right: 25%;
      }
      .col-md-pull-2 {
        right: 16.66666667%;
      }
      .col-md-pull-1 {
        right: 8.33333333%;
      }
      .col-md-pull-0 {
        right: 0%;
      }
      .col-md-push-12 {
        left: 100%;
      }
      .col-md-push-11 {
        left: 91.66666667%;
      }
      .col-md-push-10 {
        left: 83.33333333%;
      }
      .col-md-push-9 {
        left: 75%;
      }
      .col-md-push-8 {
        left: 66.66666667%;
      }
      .col-md-push-7 {
        left: 58.33333333%;
      }
      .col-md-push-6 {
        left: 50%;
      }
      .col-md-push-5 {
        left: 41.66666667%;
      }
      .col-md-push-4 {
        left: 33.33333333%;
      }
      .col-md-push-3 {
        left: 25%;
      }
      .col-md-push-2 {
        left: 16.66666667%;
      }
      .col-md-push-1 {
        left: 8.33333333%;
      }
      .col-md-push-0 {
        left: 0%;
      }
      .col-md-offset-12 {
        margin-left: 100%;
      }
      .col-md-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-md-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-md-offset-9 {
        margin-left: 75%;
      }
      .col-md-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-md-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-md-offset-6 {
        margin-left: 50%;
      }
      .col-md-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-md-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-md-offset-3 {
        margin-left: 25%;
      }
      .col-md-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-md-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-md-offset-0 {
        margin-left: 0%;
      }
    }
    @media (min-width: 1200px) {
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-12 {
        width: 100%;
      }
      .col-lg-11 {
        width: 91.66666667%;
      }
      .col-lg-10 {
        width: 83.33333333%;
      }
      .col-lg-9 {
        width: 75%;
      }
      .col-lg-8 {
        width: 66.66666667%;
      }
      .col-lg-7 {
        width: 58.33333333%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-5 {
        width: 41.66666667%;
      }
      .col-lg-4 {
        width: 33.33333333%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-2 {
        width: 16.66666667%;
      }
      .col-lg-1 {
        width: 8.33333333%;
      }
      .col-lg-pull-12 {
        right: 100%;
      }
      .col-lg-pull-11 {
        right: 91.66666667%;
      }
      .col-lg-pull-10 {
        right: 83.33333333%;
      }
      .col-lg-pull-9 {
        right: 75%;
      }
      .col-lg-pull-8 {
        right: 66.66666667%;
      }
      .col-lg-pull-7 {
        right: 58.33333333%;
      }
      .col-lg-pull-6 {
        right: 50%;
      }
      .col-lg-pull-5 {
        right: 41.66666667%;
      }
      .col-lg-pull-4 {
        right: 33.33333333%;
      }
      .col-lg-pull-3 {
        right: 25%;
      }
      .col-lg-pull-2 {
        right: 16.66666667%;
      }
      .col-lg-pull-1 {
        right: 8.33333333%;
      }
      .col-lg-pull-0 {
        right: 0%;
      }
      .col-lg-push-12 {
        left: 100%;
      }
      .col-lg-push-11 {
        left: 91.66666667%;
      }
      .col-lg-push-10 {
        left: 83.33333333%;
      }
      .col-lg-push-9 {
        left: 75%;
      }
      .col-lg-push-8 {
        left: 66.66666667%;
      }
      .col-lg-push-7 {
        left: 58.33333333%;
      }
      .col-lg-push-6 {
        left: 50%;
      }
      .col-lg-push-5 {
        left: 41.66666667%;
      }
      .col-lg-push-4 {
        left: 33.33333333%;
      }
      .col-lg-push-3 {
        left: 25%;
      }
      .col-lg-push-2 {
        left: 16.66666667%;
      }
      .col-lg-push-1 {
        left: 8.33333333%;
      }
      .col-lg-push-0 {
        left: 0%;
      }
      .col-lg-offset-12 {
        margin-left: 100%;
      }
      .col-lg-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-lg-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-lg-offset-9 {
        margin-left: 75%;
      }
      .col-lg-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-lg-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-lg-offset-6 {
        margin-left: 50%;
      }
      .col-lg-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-lg-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-lg-offset-3 {
        margin-left: 25%;
      }
      .col-lg-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-lg-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-lg-offset-0 {
        margin-left: 0%;
      }
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar-fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
    }
    body.extreme #company-navbar-nav ul.navbar-nav {
      width: 100% !important;
      float: none !important;
    }
    #company-jump-nav, #company-nav-bar {
        text-align: center !important;
    }
    @media (min-width: 768px){
      .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
      }
    }

    /* spacing helpers
    p,m = padding,margin
    a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
    s,m,l,xl,n = small(5px),medium(10px),large(20px),xlarge(30px),none(0)
    */
    .ptn,
    .pvn,
    .pan {
      padding-top: 0 !important;
    }
    .pts,
    .pvs,
    .pas {
      padding-top: 5px !important;
    }
    .ptm,
    .pvm,
    .pam {
      padding-top: 10px !important;
    }
    .ptl,
    .pvl,
    .pal {
      padding-top: 20px !important;
    }
    .ptxl,
    .pvxl,
    .paxl {
      padding-top: 30px !important;
    }
    .prn,
    .phn,
    .pan {
      padding-right: 0 !important;
    }
    .prs,
    .phs,
    .pas {
      padding-right: 5px !important;
    }
    .prm,
    .phm,
    .pam {
      padding-right: 10px !important;
    }
    .prl,
    .phl,
    .pal {
      padding-right: 20px !important;
    }
    .prxl,
    .phxl,
    .paxl {
      padding-right: 30px !important;
    }
    .pbn,
    .pvn,
    .pan {
      padding-bottom: 0 !important;
    }
    .pbs,
    .pvs,
    .pas {
      padding-bottom: 5px !important;
    }
    .pbm,
    .pvm,
    .pam {
      padding-bottom: 10px !important;
    }
    .pbl,
    .pvl,
    .pal {
      padding-bottom: 20px !important;
    }
    .pbxl,
    .pvxl,
    .paxl {
      padding-bottom: 30px !important;
    }
    .pln,
    .phn,
    .pan {
      padding-left: 0 !important;
    }
    .pls,
    .phs,
    .pas {
      padding-left: 5px !important;
    }
    .plm,
    .phm,
    .pam {
      padding-left: 10px !important;
    }
    .pll,
    .phl,
    .pal {
      padding-left: 20px !important;
    }
    .plxl,
    .phxl,
    .paxl {
      padding-left: 30px !important;
    }
    .mtn,
    .mvn,
    .man {
      margin-top: 0 !important;
    }
    .mtnni{
      margin-top: 0;
    }
    .mts,
    .mvs,
    .mas {
      margin-top: 5px !important;
    }
    .mtm,
    .mvm,
    .mam {
      margin-top: 10px !important;
    }
    .mtl,
    .mvl,
    .mal {
      margin-top: 20px !important;
    }
    .mtxl,
    .mvxl,
    .maxl {
      margin-top: 30px !important;
    }
    .mrn,
    .mhn,
    .man {
      margin-right: 0 !important;
    }
    .mrs,
    .mhs,
    .mas {
      margin-right: 5px !important;
    }
    .mrm,
    .mhm,
    .mam {
      margin-right: 10px !important;
    }
    .mrl,
    .mhl,
    .mal {
      margin-right: 20px !important;
    }
    .mrxl,
    .mhxl,
    .maxl {
      margin-right: 30px !important;
    }
    .mbn,
    .mvn,
    .man {
      margin-bottom: 0 !important;
    }
    .mbs,
    .mvs,
    .mas {
      margin-bottom: 5px !important;
    }
    .mbm,
    .mvm,
    .mam {
      margin-bottom: 10px !important;
    }
    .mbl,
    .mvl,
    .mal {
      margin-bottom: 20px !important;
    }
    .mbxl,
    .mvxl,
    .maxl {
      margin-bottom: 30px !important;
    }
    .mln,
    .mhn,
    .man {
      margin-left: 0 !important;
    }
    .mls,
    .mhs,
    .mas {
      margin-left: 5px !important;
    }
    .mlm,
    .mhm,
    .mam {
      margin-left: 10px !important;
    }
    .mll,
    .mhl,
    .mal {
      margin-left: 20px !important;
    }
    .mlxl,
    .mhxl,
    .maxl {
      margin-left: 30px !important;
    }
    .vab {
      vertical-align: bottom;
    }
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      } 
      .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
        clear: both;
      }
      .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
        content: " ";
        display: table;
      }

      *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

    @-ms-viewport {
      width: device-width;
    }
    .visible-xs,
    .visible-sm,
    .visible-md,
    .visible-lg {
      display: none !important;
    }
    @media (max-width: 767px) {
      .visible-xs {
        display: block !important;
      }
      table.visible-xs {
        display: table;
      }
      tr.visible-xs {
        display: table-row !important;
      }
      th.visible-xs,
      td.visible-xs {
        display: table-cell !important;
      }
      .ng-cloak, .x-ng-cloak, .ng-hide, transclude { display: none !important; }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .visible-sm {
        display: block !important;
      }
      table.visible-sm {
        display: table;
      }
      tr.visible-sm {
        display: table-row !important;
      }
      th.visible-sm,
      td.visible-sm {
        display: table-cell !important;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .visible-md {
        display: block !important;
      }
      table.visible-md {
        display: table;
      }
      tr.visible-md {
        display: table-row !important;
      }
      th.visible-md,
      td.visible-md {
        display: table-cell !important;
      }
    }
    @media (min-width: 1200px) {
      .visible-lg {
        display: block !important;
      }
      table.visible-lg {
        display: table;
      }
      tr.visible-lg {
        display: table-row !important;
      }
      th.visible-lg,
      td.visible-lg {
        display: table-cell !important;
      }
    }
    .hidden {
      display: none !important;
      visibility: hidden !important;
    }
    @media (max-width: 767px) {
      .hidden-xs {
        display: none !important;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .hidden-sm {
        display: none !important;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .hidden-md {
        display: none !important;
      }
    }
    @media (min-width: 1200px) {
      .hidden-lg {
        display: none !important;
      }
    }
    body.extreme p, body.extreme li, body.extreme .extreme-default-text {
      font-size: 16px;
      line-height: 24px;
    }
    .bg-gray-dark {
      background-color: #5b5b5b;
    }
    .bg-brand {
      background-color: #bb4924;
    }
    .bg-brand-info {
      background-color: #516d85;
    }
    .bg-brand-info,.bg-brand-primary,.bg-brand-success,.bg-brand-warning,.bg-brand-danger,.bg-brand,.bg-brand-alt,.bg-gray,.bg-gray-dark,.bg-gray-darker,.bg-brand-info .h1,.bg-brand-primary .h1,.bg-brand-success .h1,.bg-brand-warning .h1,.bg-brand-danger .h1,.bg-brand .h1,.bg-brand-alt .h1,.bg-gray .h1,.bg-gray-dark .h1,.bg-gray-darker .h1,.bg-brand-info .h2,.bg-brand-primary .h2,.bg-brand-success .h2,.bg-brand-warning .h2,.bg-brand-danger .h2,.bg-brand .h2,.bg-brand-alt .h2,.bg-gray .h2,.bg-gray-dark .h2,.bg-gray-darker .h2,.bg-brand-info .h3,.bg-brand-primary .h3,.bg-brand-success .h3,.bg-brand-warning .h3,.bg-brand-danger .h3,.bg-brand .h3,.bg-brand-alt .h3,.bg-gray .h3,.bg-gray-dark .h3,.bg-gray-darker .h3,.bg-brand-info .h4,.bg-brand-primary .h4,.bg-brand-success .h4,.bg-brand-warning .h4,.bg-brand-danger .h4,.bg-brand .h4,.bg-brand-alt .h4,.bg-gray .h4,.bg-gray-dark .h4,.bg-gray-darker .h4,.bg-brand-info .h5,.bg-brand-primary .h5,.bg-brand-success .h5,.bg-brand-warning .h5,.bg-brand-danger .h5,.bg-brand .h5,.bg-brand-alt .h5,.bg-gray .h5,.bg-gray-dark .h5,.bg-gray-darker .h5,.bg-brand-info .h6,.bg-brand-primary .h6,.bg-brand-success .h6,.bg-brand-warning .h6,.bg-brand-danger .h6,.bg-brand .h6,.bg-brand-alt .h6,.bg-gray .h6,.bg-gray-dark .h6,.bg-gray-darker .h6,.bg-brand-info h1,.bg-brand-primary h1,.bg-brand-success h1,.bg-brand-warning h1,.bg-brand-danger h1,.bg-brand h1,.bg-brand-alt h1,.bg-gray h1,.bg-gray-dark h1,.bg-gray-darker h1,.bg-brand-info h2,.bg-brand-primary h2,.bg-brand-success h2,.bg-brand-warning h2,.bg-brand-danger h2,.bg-brand h2,.bg-brand-alt h2,.bg-gray h2,.bg-gray-dark h2,.bg-gray-darker h2,.bg-brand-info h3,.bg-brand-primary h3,.bg-brand-success h3,.bg-brand-warning h3,.bg-brand-danger h3,.bg-brand h3,.bg-brand-alt h3,.bg-gray h3,.bg-gray-dark h3,.bg-gray-darker h3,.bg-brand-info h4,.bg-brand-primary h4,.bg-brand-success h4,.bg-brand-warning h4,.bg-brand-danger h4,.bg-brand h4,.bg-brand-alt h4,.bg-gray h4,.bg-gray-dark h4,.bg-gray-darker h4,.bg-brand-info h5,.bg-brand-primary h5,.bg-brand-success h5,.bg-brand-warning h5,.bg-brand-danger h5,.bg-brand h5,.bg-brand-alt h5,.bg-gray h5,.bg-gray-dark h5,.bg-gray-darker h5,.bg-brand-info h6,.bg-brand-primary h6,.bg-brand-success h6,.bg-brand-warning h6,.bg-brand-danger h6,.bg-brand h6,.bg-brand-alt h6,.bg-gray h6,.bg-gray-dark h6,.bg-gray-darker h6,.bg-brand-info .close,.bg-brand-primary .close,.bg-brand-success .close,.bg-brand-warning .close,.bg-brand-danger .close,.bg-brand .close,.bg-brand-alt .close,.bg-gray .close,.bg-gray-dark .close,
    .bg-gray-darker .close {
      color: #ffffff;
    }
    .list-unstyled {
      padding-left: 0;
      list-style: none;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 1.3;
      color: #5b5b5b;
      background-color: #f1f1f1;
      background-image: none;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .form-control:focus {
      border-color: #529fba;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 159, 186, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 159, 186, 0.6);
    }
    .form-control::-moz-placeholder {
      color: #909090;
      opacity: 1;
    }
    .form-control:-ms-input-placeholder {
      color: #909090;
    }
    .form-control::-webkit-input-placeholder {
      color: #909090;
    }
    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
      cursor: not-allowed;
      background-color: #e0e0e0;
      opacity: 1;
    }

    .navbar-toggle {
      position: relative;
      float: right;
      margin-right: 15px;
      padding: 9px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 3px;
    }
    body.extreme .navbar-header.ellipsis-nav .navbar-toggle .ellipsis-nav-button {
      letter-spacing: 3px;
      font-size: 22px;
      line-height: 22px;
      color: #e0e0e0;
    }

    hr {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
    }

    .btn-danger {
      color: #fff;
      background-color: #a95056;
      border-color: #98484d;
    }
    .btn-block+.btn-block {
        margin-top: 5px;
    }
    .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.hover, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].hover, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.hover, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
      background-color: #7ca950;
      border-color: #6f9848;
    }
    .container.content {
      background-color: #fff;
      padding-top: 15px;
    }
    button,
    input {
      color: inherit;
      font: inherit;
      margin: 0;
    }

    button {
      overflow: visible;
    }

    button {
      text-transform: none;
    }

    button,
    input[type=submit] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    .btn,
    .form-control {
      background-image: none;
    }

    body {
      background-color: #f1f1f1;
    }

    *,
    :after,
    :before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    h1 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: #404040;
    }

    label {
      font-weight: 700;
    }

    small {
      font-size: 85%;
    }

    ul {
      margin-top: 0;
    }

    ul {
      margin-bottom: 9px;
    }

    @media (min-width:768px) {
      .container {
        width: 750px;
      }
    }

    .container {
      margin-right: auto;
      margin-left: auto;
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (min-width:992px) {
      .container {
        width: 996px;
      }
    }

    @media (min-width:1200px) {
      .container {
        width: 996px;
      }
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    label {
      display: inline-block;
      margin-bottom: 5px;
    }

    .form-control {
      font-size: 14px;
      line-height: 1.3;
      color: #5b5b5b;
      display: block;
    }

    .form-control {
      width: 100%;
      height: 30px;
      padding: 5px 10px;
      background-color: #f1f1f1;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    .form-control::-moz-placeholder {
      color: #909090;
      opacity: 1;
    }

    .form-control:-ms-input-placeholder {
      color: #909090;
    }

    .form-control::-webkit-input-placeholder {
      color: #909090;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 1.3;
      border-radius: 3px;
    }

    .btn-primary {
      color: #fff;
    }

    .btn-primary {
      background-color: #252525;
      border-color: #181818;
    }

    .btn-lg {
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.2;
      border-radius: 3px;
    }

    .container:after,
    .container:before,
    .row:after,
    .row:before {
      content: " ";
      display: table;
    }

    .container:after,
    .row:after {
      clear: both;
    }

    .hide {
      display: none!important;
    }

    @-ms-viewport {
      width: device-width;
    }

    p {
      margin: 0 0 13px;
    }

    .twenty15-header header .navbar-nav.navbar-right:last-child {
      margin-right: -15px;
    }

    .spaced {
      line-height: 1.3 !important;
    }
    .spaced-lg {
      line-height: 1.6 !important;
    }    
  .inline{
    display:inline;
  }
  .opaque{
    opacity:1 !important;
  }
  .fs-18{
    font-size:18px;
  }
  .fs-300{
    font-size:300px;
  }
  .fs-314{
    font-size:314px;
  }
  .break-word{
    word-wrap: break-word;
  }
  .ml12{
    margin-left:12px;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .capitalize{
    text-transform: capitalize;
  }
  .vam{
    vertical-align: middle;
  }
  .bg-white {
    background-color: #ffffff;
    color: #5b5b5b;
  }
  .bg-gray-darker {
    background-color: #404040;
  }
  .bg-gray-dark {
    background-color: #5b5b5b;
  }
  .bg-gray {
    background-color: #909090;
  }
  .bg-gray-light {
    background-color: #e0e0e0;
  }
  .bg-gray-lighter {
    background-color: #f1f1f1;
  }
  .bg-brand-primary {
    background-color: #252525;
  }
  .bg-brand-info {
    background-color: #516d85;
  }
  .bg-brand-success {
    background-color: #7ca950;
  }
  .bg-brand-warning {
    background-color: #dab132;
  }
  .bg-brand-danger {
    background-color: #a95056;
  }
  .bg-brand {
    background-color: #bb4924;
  }
  .bg-brand-alt {
    background-color: #529fba;
  }
  .text-white,
  .text-white:hover,
  .text-white:active {
    color: #ffffff;
  }
  .btn-primary {
    color: #ffffff;
    background-color: #252525;
    border-color: #181818;
  }
  .btn-primary:hover,
  .btn-primary.hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #111111;
    border-color: #000000;
  }
  p {
      margin: 0 0 13px;
  }
  .hy-widget-box-get-quotes-from-pros .hy-widget-box-get-quotes-from-pros-steps-boxes .badge {
    background: #BB4924;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .dropshadow {
    -webkit-box-shadow: 0px 2px 6px 0px #909090;
    box-shadow: 0px 2px 6px 0px #909090;
  }
  .btn-default {
    color: #5b5b5b;
    background-color: #ffffff;
    border-color: #5b5b5b;
  }
  .btn-lg, .btn-group-lg > .btn {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 3px;
  }
  .strong,h1.strong,h2.strong,h3.strong,h4.strong,h5.strong,h6.strong,.h1.strong,.h2.strong,.h3.strong,.h4.strong,.h5.strong,
  .h6.strong {
    font-weight: bold;
  }
  .glyphicon-eye-close:before {
    content: "\e106";
  }
  .btn-brand {
    color: #ffffff;
    background-color: #bb4924;
    border-color: #a64120;
  }
  .icon-phone:before {
      content: "\e639";
  }
  @media(max-width:768px)
  {
    .collapse {
      display: none;
    }
  }

  body.extreme .navbar.navbar-default.navbar-fixed-bottom {
    -webkit-filter: drop-shadow(rgb(37, 37, 37) 6px 6px 20px);
  }
  body.extreme .navbar-default.navbar-fixed-bottom {
    background-color: rgba(37, 37, 37, 0.8);
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #141414;
  }
  body.extreme .navbar.navbar-default.navbar-fixed-bottom {
    -webkit-filter: drop-shadow(6px 6px 20px #252525);
    -moz-filter: drop-shadow(6px 6px 20px #252525);
    -o-filter: drop-shadow(6px 6px 20px #252525);
    -ms-filter: drop-shadow(6px 6px 20px #252525);
    filter: drop-shadow(6px 6px 20px #252525);
  }  .bg-img{
    background-color:#000;
    background-image:url("DrillingRigPic2.jpg");
    background-size: cover;
    background-position: 50% 27.75px;
  }
  .bg-mask{
    background-color:#000;
    opacity: 0.05;
    background-size: cover;
    background-position: 50% 0%;
  }
  body.extreme.less-extreme .jumbotron, body.extreme.less-extreme .body-bg-img{
    height: 65%;
    top: 0;
  }
  .text-gray-light,.text-gray-light:hover,.text-gray-light:active {
    color: #e0e0e0;
  }

  body.extreme .twenty15-header .navbar-default {
    background-color: rgba(37, 37, 37, 0.3);
  }
  body.extreme .body-bg-img {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  body.extreme .jumbotron {
    background-color: transparent;
    color: #f1f1f1;
    text-shadow: 2px 2px 5px #252525;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    top: 0;
    z-index: auto;
    margin: 0;
    overflow: hidden;
  }
  body.extreme.less-extreme .jumbotron, body.extreme.less-extreme .body-bg-img {
    height: 65%;
  }
  body.extreme .twenty15-header .navbar-default {
    background-color: rgba(37, 37, 37, 0.3);
  }
  body.extreme .company-profile {
      background-color: #ffffff;
      position: absolute;
      top: 100%;
      width: 100%;
  }
  body.extreme.less-extreme .company-profile {
      top: 65%;
  }
  body.extreme .jumbotron .main-company-info {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  body.extreme .jumbotron .main-company-info .info {
    display: table-cell;
    vertical-align: middle;
  }
  .btn-brand {
    color: #ffffff;
    background-color: #bb4924;
    border-color: #a64120;
  }
  h1, .h1 {
    font-size: 36px;
  }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #909090;
  }
  h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
    font-size: 65%;
  }
  .media-object {
    display: block;
  }
  .pull-left {
    float: left !important;
  }
  @media screen and (max-width: 767px)
  body.extreme h1, body.extreme .h1 {
    font-size: 30px;
  }
  @media screen and (min-width: 768px){
    .jumbotron h1, .jumbotron .h1 {
      font-size: 63px;
    }
  }
  @media (min-width: 768px){
    .navbar-toggle {
      display: none;
    }
  }
  .use-device-window-width .visible-device-xs,
  .use-device-window-width .visible-device-sm,
  .use-device-window-width .visible-device-md,
  .use-device-window-width .visible-device-lg {
    display: none !important;
  }
  @media (max-width: 767px) {
    .use-window-width .visible-device-xs {
      display: block !important;
    }
    table.use-window-width .visible-device-xs {
      display: table;
    }
    tr.use-window-width .visible-device-xs {
      display: table-row !important;
    }
    th.use-window-width .visible-device-xs,
    td.use-window-width .visible-device-xs {
      display: table-cell !important;
    }
  }
  .logo-desktop{
    background:url(//images.manta-r3.com/api/claim-this-profile/image-mgr/view/20150921x6ljpBUZpV/270x270) center center no-repeat; 
    height:270px; 
    width:270px;
  }
  .logo-mobile{
    background:url(//images.manta-r3.com/api/claim-this-profile/image-mgr/view/20150921x6ljpBUZpV/60x60) center center no-repeat; 
    background-size:cover; 
    border:1px solid #ccc; 
    height:60px; 
    width:60px;
  }
  .extreme-logo{
    background:url(//images.manta-r3.com/api/claim-this-profile/image-mgr/view/20150921x6ljpBUZpV/40x40) center center no-repeat; 
    background-size:cover; 
    border:1px solid #ccc; 
    height:40px; 
    width:40px;
  }
  .icon-clock:before {
    content: "\e614";
  }
  .glyphicon-heart:before {
    content: "\e005";
  }
  body.extreme .navbar-header.ellipsis-nav li {
    float: left;
  }
  .navbar-nav {
    margin: 0;
  }
  .collapse {
    display: none;
  }

  @media (min-width: 768px){
    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
  }
  @media screen and (max-width: 767px){
    body.extreme h3, body.extreme .h3 {
      font-size: 18px;
    }
  }
  .prod-summary{
    position:relative; 
    height: 110px; 
    overflow:hidden;
  }  #banner-right, #banner-left{
    min-height:250px;width:300px;text-align:center;margin-bottom:20px;
  }